@model ContactViewModel
    @*this is our viewmodel for binding data*@

@*targeted by the @RenderSection in our _Layout*@
@*we can drag n drop the needed scripts from wwwroot/lib after getting dependencies through bower*@




<div id="body" class="contact">
    <div class="header">
        <div>
            <h1>Contact Us</h1>
        </div>
    </div>
    <div class="body">
        <div>
            <div>
                <img src="~/images/check-in.png" alt="">
                <h1>UNIT 0123 , ABC BUILDING, BUSSINESS PARK</h1>
                <p>If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="contact">
            <h1>INQUIRY FORM</h1>
            @*method: post = when form gets submited it sends it back to server*@
            <form method="post" >
                @*will display validation errors on the form, errors concerning the viewmodel*@
                <div asp-validation-summary="ModelOnly"></div>
                @*by specifying the view model we can use tag helpers, ins tead of html (asp-for); should use the same tag helper when working with labels,radio buttons, etc also*@
                <input type="text" asp-for="Name" value="Name" onblur="this.value=!this.value?'Name':this.value;" onfocus="this.select()" onclick="this.value='';">
                @*line validation for Name field, requires 2 jquery-validation libraries in bower("jquery-validation" + "jquery-validation-unobtrusive":)*@
                <span asp-validation-for="Name"></span>
                <input type="text" asp-for="Email" value="Email" onblur="this.value=!this.value?'Email':this.value;" onfocus="this.select()" onclick="this.value='';">
                <span asp-validation-for="Email"></span>
                <input type="text" asp-for="Subject" value="Subject" onblur="this.value=!this.value?'Subject':this.value;" onfocus="this.select()" onclick="this.value='';">
                <span asp-validation-for="Subject" ></span>
                @*<label asp-for="Message">Share thoughts (max. 250 characters)</label>*@
                <textarea asp-for="Message" placeholder="Share your thoughts (max. 250 characters)" cols="50" rows="7" ></textarea>
                <span asp-validation-for="Message"></span>
                <input type="submit" value="Send" id="submit">
                <br />
            </form>
            <div style="font-family:Roboto; text-align:left; font-size: 14px; color:gray">
                @ViewBag.UserMessage
            </div>
           
               
           @*<form method="post" action="index.html">
                <input type="text" name="Name" value="Name" onblur="this.value=!this.value?'Name':this.value;" onfocus="this.select()" onclick="this.value='';">
                <input type="text" name="Email" value="Email" onblur="this.value=!this.value?'Email':this.value;" onfocus="this.select()" onclick="this.value='';">
                <input type="text" name="Subject" value="Subject" onblur="this.value=!this.value?'Subject':this.value;" onfocus="this.select()" onclick="this.value='';">
                <textarea name="meassage" cols="50" rows="7">Share your thoughts</textarea>
                <input type="submit" value="Send" id="submit">
            </form>*@
        </div>
        <div class="section">
            <h1>WE’D LOVE TO HEAR FROM YOU.</h1>
            <p>If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.</p>
        </div>
    </div>
</div>