@*also known as master page, it contains the elements common to all controllers*@



<!doctype html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> @ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/css/mobile.css">
    <script src="~/lib/js/mobile.js" type="text/javascript"></script>
    
</head>

<body>
    <div id="page">
        <div id="header">
            <div>
                <a asp-controller="App" asp-action="Index" class="logo"><img src="~/images/logo.png" alt=""></a> @*using tag helpers for links and navigation*@

                <ul id="navigation">
                    <li class="selected">
                        <a asp-controller="App" asp-action="Index">Home</a>
                    </li>
                    <li class="menu">
                        <a asp-controller="App" asp-action="About">About</a>
                    </li>
                    <li class="menu">
                        <a asp-controller="App" asp-action="Product">Product</a>
                    </li>
                    <li class="menu">
                        <a asp-controller="App" asp-action="Blog">Blog</a>
                    </li>
                    <li class="menu">
                        <a asp-controller="App" asp-action="Order">Order</a>
                    </li>
                    <li class="menu">
                        <a asp-controller="App" asp-action="Contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>



        <section>
            @RenderBody()
        </section>


       
        <div id="footer">
            <div>
                <div class="connect">
                    <a href="http://freewebsitetemplates.com/go/facebook/" class="facebook">facebook</a>
                    <a href="http://freewebsitetemplates.com/go/twitter/" class="twitter">twitter</a>
                    <a href="http://freewebsitetemplates.com/go/googleplus/" class="googleplus">googleplus</a>
                    <a href="http://pinterest.com/fwtemplates/" class="pinterest">pinterest</a>
                    @RenderSection("scripts", false);    
                        @*not all our pages have forms and validation areas, so we shouldn't load validation scripts on all pages
                        this line imports scripts only on pages that have a section called "scripts"*@
                </div>
                <p>&copy; 1993-@DateTime.Now.Year Freeeze. All Rights Reserved.</p>
            </div>
        </div>
    </div>

    
</body>
</html>

