<div id="body" class="header">
    <div class="header">
        <div>
            <h1>thank you for registering with us </h1>
        </div>
    </div>
    <div>
        <h2 class= "text-center">You were successfully registered.</h2>
        <div class="text-center" font face="Roboto Regular">
            <hr />
           <h4>
               <a asp-controller="Account" asp-action="Login"> You are ready to log in. </a>
           </h4> 
        </div>
       
    </div>
</div>

    
